<div style="padding: 1.5rem 1.5rem 0.5rem 1.5rem">
    <div
        style="margin-bottom: 1.12rem;"
        class="d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
            {{ with .Resources.GetMatch "img.png" }}
            <img src="{{ .RelPermalink }}" width="32" height="32" />
            {{ end }}
            <div class="verify-title">{{ .Params.Title }}</div>
        </div>
        <div class="d-flex align-items-center">
            {{ if .Params.See_more }}
            <img src="/images/arrow_icon.png" style="margin-right: 0.5rem"/>
            <a class="verify-link" href="{{ .RelPermalink }}">{{ .Params.See_more }}</a>
            {{ end }}
        </div>
    </div>
    {{ if .Params.summary }}
    <div class="verify-summary">——{{.Params.summary}}</div>
    {{ end }}

    <div class="row">
        {{ range .Pages |first 3 }}
        {{ $page := . }}
        <div class="col-12 col-sm-6 col-md-4 mb-4">
            {{ with $page.Parent.Resources.GetMatch "bg.png" }}
            <div
                    class="bg-cover verify-card d-flex flex-column"
                    style="position: relative;background-image: url('{{ .RelPermalink }}')"
            >
                {{ if $page.Params.title }}
                <div class="verify-card-title">{{ $page.Params.title }}</div>
                {{ end }}
                {{ if $page.Params.difficult }}
                <div
                        class="star-container d-flex align-items-start">
                    <div style="line-height: 1;">
                        {{ if eq site.Language.Lang "cn" }}
                        难度：
                        {{ else }}
                        difficult:&nbsp;
                        {{ end }}
                    </div>
                    {{ range $i := (seq $page.Params.difficult) }}
                    <img src="/images/star.png" style="margin-right: 0.4rem;margin-top: 1px">
                    {{ end }}
                </div>
                {{ end }}
                {{ if $page.Params.desc }}
                <div class="desc-container">
                    {{$page.Params.desc}}
                </div>
                {{ end }}
                <div class="verify-schedule flex-grow-1 d-flex align-items-end">
                    {{ if eq site.Language.Lang "cn" }}
                        {{ if eq $page.Params.schedule 1 }}
                        <img src="{{ "/images/verify_waiting.png" | relURL }}" width=98>
                        {{ else if eq $page.Params.schedule 2 }}
                        <img src="{{ "/images/verify_inprogress.png" | relURL }}" width=98>
                        {{ else if eq $page.Params.schedule 4 }}
                        <img src="{{ "/images/verify_finished.png" | relURL }}" width=98>
                        {{ end }}
                    {{ else }}
                        {{ if eq $page.Params.schedule 1 }}
                        <img src="{{ "/images/verify_waiting_en.png" | relURL }}" width=98>
                        {{ else if eq $page.Params.schedule 2 }}
                        <img src="{{ "/images/verify_inprogress_en.png" | relURL }}" width=98>
                        {{ else if eq $page.Params.schedule 4 }}
                        <img src="{{ "/images/verify_finished_en.png" | relURL }}" width=98>
                        {{ end }}
                    {{ end }}
                </div>

                <div class="mt-auto d-flex justify-content-between align-items-center">
                    <div>
                        {{ if .Params.resource_tags }}
                        {{ with .Params.resource_tags }}
                        {{ range . }}
                        <span class="badge tag-badge">{{ . }}</span>
                        {{ end }}
                        {{ end }}
                        {{ end }}
                    </div>
                </div>

                {{ if .Params.Website }}
                <a href="{{ $page.Params.Website }}" class="stretched-link" tab="_blank"></a>
                {{ else }}
                <a href="{{ $page.RelPermalink }}" class="stretched-link"></a>
                {{ end  }}
            </div>
            {{ end }}
        </div>
        {{ end }}
    </div>
</div>
