{{ define "main" }}

<div class="mt-5 pt-5 pb-1">
    <div class="container" >
       	<h1 class="name display-1"><b>{{ .Site.Params.Name }}</b></h1>
		{{ if .Site.Params.slog }}
		<h1 class="name display-6 text-primary"><b>{{ .Site.Params.slog }}</b></h1>
		{{ end }}
    </div>
</div>
<div class="mb-5 py-4">
    <div class="container">
        <h2 class="bio lh-base fs-1 serif">{{ .Site.Params.Description }}</h2>
    </div>
</div>

<div class="container py-3">
	<div class="row justify-content-between my-5">
		<!-- Crowdsouring Tasks-->
		<div class="col-lg-4">
			{{ with .Site.GetPage "section" "crowdsourcing" }}
          	<div class="pb-4">
              	<a class="heading fs-2" href="{{ .RelPermalink }}">{{ .Params.acti_title }}</a>
          	</div>      
			{{ if .Summary }} <p class="subheading">{{ .Params.acti_summary }}</p> {{ end }}
			{{ end }}
			<div class="row row-cols-1 g-4 mb-5">
				{{ range ( where (where (where site.Pages "Section" "crowdsourcing") "IsPage" "eq" true) "Params.task_closed" "ne" true | first 6 ) }}
				{{ partial "home_garden.html" . }}
				{{ end }}
      		</div>
			{{ with .Site.GetPage "section" "crowdsourcing" }}
			<div class="d-flex flex-row-reverse">
        		<a href="{{ .RelPermalink }}" role="button" class="btn btn-sm see-all">查看所有任务</a>
      		</div>
      		{{ end }}

			{{ with .Site.GetPage "section" "crowdsourcing" }}
          	<div class="pb-4">
              	<a class="heading fs-2" href="{{ .RelPermalink }}">{{ .Params.hist_title }}</a>
          	</div>      
			{{ if .Params.hist_summary }} <p class="subheading">{{ .Params.hist_summary }}</p> {{ end }}
			{{ end }}
			
			<div class="row row-cols-1 g-4 mb-5">
				{{ range ( where (where (where site.Pages "Section" "crowdsourcing") "IsPage" "eq" true) "Params.task_closed" "eq" true | first 6 ) }}
				{{ partial "home_garden.html" . }}
				{{ end }}
      		</div>
			{{ with .Site.GetPage "section" "crowdsourcing" }}
			<div class="d-flex flex-row-reverse">
        		<a href="{{ .RelPermalink }}" role="button" class="btn btn-sm see-all">查看所有任务</a>
      		</div>
      		{{ end }}
			
		</div>
    	
		<!-- Learning Resource -->
		<div class="col-lg-7">
			{{ with .Site.GetPage "section" "learningresource" }}
			<div class="pb-4">
				<a class="heading fs-2" href="{{ .RelPermalink }}">{{ .Title }}</a>
			</div>
			{{ if .Summary }} 
			<p class="subheading">{{ .Summary }}</p> 
			{{ end }}
			{{ end }}
			<div class="row row-cols-1 row-cols-md-2 g-4 mb-5" data-masonry='{"percentPosition": true }'>
				{{ range ( where (where site.Pages "Section" "learningresource") "Params.Onhomepage" "eq" true | first 6 ) }}
				{{ partial "home_project.html" . }}
				{{end}}
    		</div>
			{{ with .Site.GetPage "section" "learningresource" }}
			<div class="d-flex flex-row-reverse">
				<a href="{{ .RelPermalink }}" role="button" class="btn btn-sm see-all">查看所有资源</a>
			</div>    
			{{ end }}
  		</div>
	</div>

	<!-- Partners -->
	<div class="container py-3">
		<div class="row justify-content-between my-5">
			<div class="col-sm-4 col-lg-3">
				{{ with .Site.GetPage "section" "partners" }}
				<div class="pb-4">
					<a class="heading fs-2" href="#">{{ .Title }}</a>
				</div>
				{{ if .Summary }} <p class="subheading">{{ .Summary }}</p> {{ end }}
				{{ end }}
			</div>
			<div class="col me-auto">
				<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 mb-5">
					{{ range ( where (where site.RegularPages "Section" "partners") "Params.Onhomepage" "eq" true ) }}
					<div class="col">
						<div class="card">
							{{ $img := (.Resources.ByType "image").GetMatch "*logo*" }}
							{{ $img = $img.Fit "350x500" }}
							{{ with $img }}
							<img src="{{ .Permalink }}" alt="{{ $.Title }}" class="card-img-top">
							{{ end }}
							<a href="{{ .Params.Website }}" class="stretched-link" target="_blank"></a>
						</div>  
					</div>
					{{end}}
				</div>
			</div>
		</div>
	</div>
	{{ if site.Params.Accesspassword }}
	<script>
	const urlParams = new URLSearchParams(window.location.search);
	var sv_password = window.sessionStorage.getItem('password')
	var nw_password = urlParams.get('password');
	if(nw_password){
		sv_password = nw_password
		window.sessionStorage.setItem('password', sv_password)
	}
	if (sv_password != "{{site.Params.Accesspassword}}") {
		window.location.href = "https://www.baidu.com";
	}
	</script>
	{{ end }}
</div>
{{ end }}