{{ define "main" }}

<!-- Title and summary -->
<div class="container">
    <div class="py-5 rounded-3">
        <div class="container-fluid py-2">
            <h1 class="display-2 mb-4 text-center">{{ .Params.Title }}</h1>
            {{ if .Params.Summary }}
            <p class="bio fs-4 serif text-center">{{ .Params.Summary }}</p>
            {{ end }}
        </div>
    </div>
    {{ if not .Params.filter }}
    <div class="row justify-content-between mb-5">
        <div class="col-6">
            {{ $dateTime := .Lastmod.Format "2006-01-02" }}
            {{ $dateFormat := .Site.Params.date | default "Jan 2, 2006" }}
            Created <span style="font-size: small"> {{ .Lastmod.Format $dateFormat }}</span>
            - Last updated <span style="font-size: small"> {{ .Lastmod.Format $dateFormat }}</span>
        </div>
        <div class="col-6" style="text-align: right">
            {{ partial "status.html" . }}
        </div>
        <hr class="dropdown-divider">
    </div>
    {{ end }}
    <div class="container py-2">
        <div class="serif main-content">
            {{ .Content | markdownify | safeHTML }}
        </div>
    </div>
</div>

<!-- Filter Buttons -->
<div class="container mb-5">

    {{ if .Params.filter }}
    <!-- Multiple checkboxes option -->
    <div class="btn-toolbar mb-2 bio" role="toolbar" aria-label="Toolbar with button groups">
        <i class="fas fa-filter"></i>
        <div id="filters" class="button-group">
            {{ range $name, $taxonomy := .Site.Taxonomies.fenbao_tags }}
            {{ $btnid := $name | printf ".js-iso-%s"}}
            <input type="checkbox" class="btn-check" id="{{ $btnid }}" autocomplete="off" data-filter="{{ $btnid }}">
            <label class="button" for="{{ $btnid }}">{{ $name }}</label>
            {{ end }}
        </div>
    </div>
    {{ end }}

    <!-- Single checkbox option -->
    <!-- Please switch comment in isotope.js for this to work -->

    <!-- <div class="btn-toolbar mb-2 bio" role="toolbar" aria-label="Toolbar with button groups">
        <div id="filters" class="button-group">
            <button class="button is-checked" data-filter="*">All</button>
            {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
            {{ $btnid := $name | printf ".js-iso-%s"}}
            <button class="button" data-filter="{{ $btnid }}">{{ $name }}</button>
            {{ end }}
        </div>
    </div>
    -->

</div>

<!-- Garden Post Cards -->
<div class="container">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-4 mb-3">
        {{ range .Pages.ByWeight }}
        {{ partial "card_garden.html" . }}
        {{ end }}
    </div>
</div>

{{ end }}